.selector {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;

  &__content {
    text-decoration: none;
    &_border-b {
      border-bottom: 3px solid #ff4f49;
    }
  }

  &__arrow {
    margin-top: 1px;
    margin-left: 4px;
    padding: 2px;
    width: 12px;
    height: 12px;
    background: url(arrow.svg) center no-repeat;
  }

  &__text {
    display: flex;
  }
}
