.selector {
  display: flex;
  cursor: pointer;
  align-items: stretch;

  &__content {
    text-decoration: none;
    display: flex;
    align-items: center;

    &_border-b {
      border-bottom: 3px solid #ff4f49;
    }
  }

  &__arrow {
    margin-top: 1px;
    margin-left: 4px;
    padding: 2px;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;

    &_color {
      &_gray {
        background-image: url(arrow-gray.svg);
      }

      &_black {
        background-image: url(arrow-black.svg);
      }
    }
  }

  &__text {
    display: flex;
  }
}
