.IconNav {
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  &-arrow {
    &-right {
      background-image: url(arrow-right.svg);
    }
    &-left {
      background-image: url(arrow-left.svg);
    }
  }
}
