.icon-plus {
  display: flex;
  position: relative;

  &__icon {
    flex-shrink: 0;

    &_margin-l {
      &_8 {
        margin-left: 8px;
      }
    }

    &_margin-r {
      &_8 {
        margin-right: 8px;
      }
    }
  }

  &__text {
    flex-grow: 1;
  }
}
