.text {
  color: black;
  font-family: sans-serif;

  &__first-symbol {
    color: #FF3029;
  }

  &_size {
    &_14 {
      font-size: 14px;
    }

    &_16 {
      font-size: 16px;
    }

    &_13 {
      font-size: 13px;
    }

    &_24 {
      font-size: 24px;
    }
  }

  &_l-height {
    &_18 {
      line-height: 18px;
    }

    &_20 {
      line-height: 20px;
    }

    &_28 {
      line-height: 28px;
    }
  }

  &_width {
    &_bold {
      font-weight: bold;
    }
    &_normal {
      font-weight: normal;
    }
  }

  &_margin-r_3 {
    margin-right: 3px;
  }

  &_color {
    &_black {
      color: #000
    }

    &_gray {
      color: #7f8285;
    }

    &_light-gray {
      color: #b8bec3;
    }

    &_link {
      color: #1174e9;
    }
  }

  &_underline_non {
    text-decoration: none;
  }

  &_transform_uppercase {
    text-transform: uppercase;
  }
}
