.button {
  &_clickable {
    cursor: pointer;
  }
  &_background {
    &_gray {
      background-color: #e6e6e6;
    }
  }
  &_b-radius-a {
    &_4 {
      border-radius: 4px;
    }
  }
  &_indent-h {
    &_12 {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  &_indent-v {
    &_6 {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}
