@import "../../params";

.list {
  display: flex;
  flex-direction: column;


  &_display-pc_none {
    @media screen and (min-width: $endPointMobile) {
      display: none;
    }
  }

  &_indent-h {
    &_22 {
      padding-right: 22px;
      padding-left: 22px;
    }
  }

  &_indent-v {
    &_6 {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  &__item {

    &_indent-v {
      &_5 {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      &_8 {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    &_border-b {
      &_gray {
        border-bottom: 1px solid #e5e5e5;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
