.file-detail {
  margin-top: 16px;
  &_mode {
    &_preview {
      --borderColor: #e5e5e5;
      --backgroundColor: #f5f5f5;
    }
    &_diff {
      --borderColor: #f0f2f3;
      --backgroundColor: #fafbfc;
    }
  }
  &__header {
    border: 1px solid var(--borderColor);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--backgroundColor);
    padding: 0 16px;
    min-height: 42px;
    align-items: center;
    display: flex;
    &_wrap {
      flex-wrap: wrap;
    }
  }

  &__article {
    &_border-b {
      border-bottom: 1px solid var(--borderColor);
    }

    &_border-r {
      border-right: 1px solid var(--borderColor);
    }

    &_border-l {
      border-left: 1px solid var(--borderColor);
    }
  }

  &__file-name {
    margin-right: auto;
  }

  &__button_download {
    width: 38px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(icon-download.svg);
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
  }
  &__button-open {
    height: 20px;
    width: 13px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(icon-open.svg);

  }

  &__content {
  }
}
